.App-logo {
  height: 60px;
  margin-left: 20px;
}

.App-header {
  background-color: #000000;
  height: 60px;
  padding: 0px;
  color: white;
}

.App-login {
  margin-right: 20px;
  margin-top: 15px;
  float: right;
  border: 2px solid;
  border-radius: 0.4em;
  border-color: white;
  background-color: transparent;
  font-size: 20px;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
}

.Login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
